################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimeMultiplier/obj/Release
/.vs
/TimeMultiplier/bin/Release
/TimeMultiplier/obj/Debug
/TimeMultiplier/bin/Debug
/packages/Pathoschild.Stardew.ModBuildConfig.2.1.0-beta-20180428
