################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimeMultiplier/obj/Release
/.vs
/packages/Pathoschild.Stardew.ModBuildConfig.2.1.0-beta-20180428
